<h1>Individual Profiles!</h1>
<p>Lets learn a little more about @Model.getName()</p>
<form action = "/profile/@Model.getId()" method = "post">
  <input type = "text" name = "activity" placeholder="How Do You Know Them?"></input>
  <input type="text" name="pic" placeholder="Picture Link"></input>
  <button>Submit Specifics</button>
</form>
<p><a href = "/">Home</a></p>
<p><a href = "/add">Add a new contact</a></p>
