<h1>Add something to your list</h1>

<form action = "/view_all" method = "post">
  <input id ="add" name = "add" placeholder = "enter your stuff" type="text"></input>
  <button>Click to Add</button>
</form>
