<h1>Our Todo LIst</h1>
<p>Enter to do list items</p>

<form action = "/new_task_added" method = "post">
  <label for="new-task">Add a task</label>

  <input id="new-task" name="new-task" type="text">
  <button type="submit">Submit</button>

</form>
