<h2>Feel free to add someone using the form below</h2>

<form action = "/postList" method= "post">
<input name = "name" placeholder = "Name" type = "text"></input>
<input name = "address" placeholder = "Address" type = "text"></input>
<!-- <input name = "picture" placeholder = "picture URL"type = "text"></input> -->

<button>Enter this friend!</button>
</form>
