<h2>Feel free to add someone using the form below</h2>

<form action = "/postList" method= "post">
<input name = "name" placeholder = "Name" type = "text"></input>
</br>
<input name = "address" placeholder = "Address" type = "text"></input>
</br>

<input name = "phone" placeholder = "Phone Number" type = "text"></input>
</br>

<button>Enter this friend!</button>
</form>

<p><a href = "/">Home</a></p>
<p><a href = "/list">View your list of contacts here</a></p>
